In [1]:
import pandas as pd

I needed to install openpyxl
pip install openpyxl

In [4]:
original = pd.read_excel('Planilha_Original.xlsx', engine='openpyxl')
original.head(3)

,Nome,Endereço,CPF,Data Nascimento,Email,Telefones,Pontuacao,Fonte,Data Consulta,Justificativa,...,Prazo,Status,DataPagamento,Valor.1,Status.1,Responsavel,Cargo,e-mail,Departamento,Telefone
0,Luiza Mello,"Rua B, 456, Bairro Y",654987321,1990-09-25,luiza@cliente.com,7777-6666,680,Serasa,2023-01-15,NaN,...,36.0,Atrasado,2023-06-05,1500.0,Atrasado,Pedro,Gerente,pedro@flexempresta.com,Contas,(11) 97563-4012
1,Carlos Souza,"Rua C, 789, Bairro Z",123456789,1975-06-30,carlos@cliente.com,"8888-5555, 8888-4444",700,SPC,2023-03-20,NaN,...,120.0,Em dia,2023-03-20,2000.0,Pago,Pedro,Gerente,pedro@flexempresta.com,Contas,(11) 97563-4012
2,Carlos Souza,"Rua C, 789, Bairro Z",123456789,1975-06-30,carlos@cliente.com,"8888-5555, 8888-4444",700,SPC,2023-03-20,NaN,...,120.0,Em dia,2023-04-20,2000.0,Pago,Pedro,Gerente,pedro@flexempresta.com,Contas,(11) 97563-4012

### First Step: Requiredments Gathering

### Second Step: Conceptual Modeling